*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --heading-background_color: darkblue;
    --heading-width: 200px;
    --heading-text-align: center;
    --heading-height: auto;
}
aside{
    width:20rem ;
    text-align: var(--heading-text-align);
}
aside img{
    width: var(--heading-width);
    height: var(--heading-height); 
}
aside h2{
    position: absolute;
}

nav{
    background-color: var(--heading-background_color);
    padding:1px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    display: block;
    padding: 0.05rem;
    text-decoration: none;
    font-size:1.2rem;
    font-weight: 700;

}

h1{
    color: var(--heading-background_color);
    border: #eee;
    padding-bottom: 20px;
    list-style: inside;
}

main img{
    width: var(--heading-width);
    height: var(--heading-height);
    border: 1px solid black;
    padding: 3px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p{
    padding: 0;
    font: 1rem Arial, sans-serif;
}

footer{
    margin-top: 15px ;
    border-top: 1px solid #000;
    text-align: var(--heading-text-align);
}

li{
    display: grid;
    align-items: center;
}
/* --- Class Selectors --- */

.box{
    margin: 1rem ;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem ;
    background-color: #eee ;
    color: #333 ;
}

header, .grid, footer{
    max-width:840px;
    margin: 0 auto;
}
.grid{
    display: grid;
    align-items: center
}
main{
    grid-column: 2/3;
    margin: 1rem;
}
aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}