:root{
    --heading-background_color: darkblue;
    --heading-width: 200px;
    --heading-text-align: center;
    --heading-height: auto;
}

main{
    max-width: 840px;
}
aside{
    width:20rem ;
    border: 1px solid rgb(0 0 0 / 0.2);
    margin: 1rem;
    padding: 1rem ;
    background-color: #eee ;
    color: #333 ;
    text-align: var(--heading-text-align);
}
aside img{
    width: var(--heading-width);
    height: var(--heading-height);
}

nav{
    background-color: var(--heading-background_color);
    padding:10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1{
    color: var(--heading-background_color);
}

main img{
    width: var(--heading-width);
    height: var(--heading-height);
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

footer{
    margin-top: 15px ;
    border-top: 1px solid #000;
    text-align: var(--heading-text-align);
}